<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/main.css">
    <script src="public/scripts/main.js" defer></script>
    <title>DASHBOARD</title>
</head>
<body>
    <nav>
        <p>Logo</p>
        

        <ul>
            <li>
                <div class="search-bar">
                    <input placeholder="search card">
                </div>
            </li>
            <li>DASHBOARD</li>
            <li>USERS</li>
            <li>REPORTS</li>
        </ul>
    </nav>

    <div class="container">
        <aside>
            <p>Moj toolbar</p>
        </aside>
        <main>
            <h1>Dashboard</h1>
            <!-- Dynamic content rendering cards -->
             

        </main>
    </div>
</body>
</html>